

.text-decorator-none{
    text-decoration: none;
    color: aliceblue;
}


.background-navbar {
    background-color: #831d1c !important;
    display: flex;
    padding: 15px;
}

.container-navbar-menu {
    width: 70%;
    display: flex;
    justify-content: space-around!important;
    text-transform: uppercase;
}

.container-navbar-logo {
    width: 30%;
    cursor:pointer;
    cursor:white;
}