

.text-decorator-none{
    text-decoration: none;
    color: aliceblue;
}


.background-navbar {
    background-color: #d2738d !important;
    display: flex;
    padding: 15px;
    width: 100vw!important;
}

.container-navbar-menu {
    width: 70%;
    display: flex;
    justify-content: end!important;
    gap: 25px;
    text-transform: uppercase;
}

.container-navbar-logo {
    width: 30%;
    cursor:pointer;
    cursor:white;
    text-transform: uppercase;

}

.logo {
    width: 30%;
}