

.text-decorator-none{
    text-decoration: none;
    color: aliceblue;
}

.background-navbar {
    background-color: #831d1c !important;
    display: flex;
    padding: 15px;
}

.container-navbar-menu {
    width: 75vw;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.container-navbar-logo {
    width: 15vw;
    cursor:pointer;
    cursor:white;
}