.cardLista {
    width: 200px;
    height: 350px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
   }
   
   
   
   .card-info-lista {
    margin-top: 5px !important;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .textLista {
    font-weight: bold !important;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   
   
   /*Hover*/
   .BoxImgLista:hover {
    transform: translateY(-5%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .BoxImgLista img {
    height: 200px;
    width: 200px;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .ContainerLista {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
   }

   .Atualizar {
    width: 30px;
    margin-right: 5px;
    background-color: #30419f96;
    border-radius: 10px;
   }

   .Delete {
    width: 30px;
    background-color: rgba(255, 0, 0, 0.582);
    border-radius: 10px;
   }

   
