#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mySwiper3 {
  width: 95vw;
  height: 30vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide  {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ImgPropaganda {
  width: 800px !important;
  height: 350px !important;

  
}

.BoxPropaganda {
  background-color: white !important;
  width: 1350px;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
}
