.containerFaleConosco {
    width: 1350px !important;
    height: 45vh;
    margin-bottom: 25px!important;
    
    background-color: #FEE5E5 !important;
    display: flex!important;
   
}

.faleConoscoTitulo {
   color: #d2738d !important;
   font-size: 30px !important;
   margin-left: 50px !important;
   margin-top: 30px !important;
   margin-bottom: 15px !important;
}

.faleConoscoTxt {
    margin-left: 50px !important;
}

.containerFaleConoscoTxt {
    display: flex!important;
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    
}

.btnInput {
    margin-top: 30px !important;
    width: 400px !important;
    height: 100px !important;
}

.inputs {
    width: 600px !important;
    margin-top: 28px !important;
}