.box1{
    background-color: #831d1c !important;
    height: 120px;
}

.box2{
    background-color: #591413 !important;
    height: 60px;
}

.redes{
    font-size: 60px!important;
    color:white;
}

.textos{
    color: white;
}