.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 20px;
    margin-left:15%; 
    padding:20px;
    border-radius: 10% !important;
}
.caixa{
    background: linear-gradient(90deg, rgba(114,98,53,1) 0%, rgba(220,178,126,1) 52%,  rgba(114,98,53,1)100%);
    }
.titulo{
color: white!important;
font-weight: "bold"!important;
}
.botao{
    border-color: white!important;
    background-color:black;
    color:white!important;
}
.postagens{
    background-color: white!important;
}
.estilo-grid{
    width: 100vw;
    height: 100vh;
}
