.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 20px;
    margin-left:15%; 
    padding:20px;
    border-radius: 10% !important;
}

.titulo{
color: #831d1c !important;
font-weight: "bold"!important;
}
.botao{
    margin-top: 25px!important;
    border-color:#831d1c!important;
    background-color:black;
    color:#831d1c!important;
}
.postagens{
    background-color: white!important;
}
.estilo-grid{
    width: 100vw;
    height: 100vh;
}
